
p {
    font-size: 1.5rem;
}

.navbar-brand {
    font-size: 2rem;
}

h1 {
    justify-content: center;
    text-align: center;
    padding-top: 30px;
}

#start-quiz {
    font-size: 1.2rem;
    font-weight: bold;
}

/* .button-primary {
    m
} */

#timer {
    color: white;
}

